
@font-face{
      font-family: stocky;
      src: url("stocky.ttf");
    }

body {
  font-family: stocky;
  font-size:30px;
}

img{
  border-radius: 10px;

}

.Geeks1{
  color: #ff0088;
}

.Geeks2{
 color: #009dff;
} 

.Geeks4{
color: seagreen;
} 

.Geeks5{
color: #800013;
}

.Geeks6{
color: #00807d;
}

.Geeks3{
 border: 20px dotted purple;
} 




